{% extends 'base.html.twig' %}

{% block title %}Client
{% endblock %}

{% block body %}

	<style>
		body {
			background: Gainsboro;
		}
		#btnRetour {
			margin-left: 652px;
			margin-top: -160px;
		}

		h1 {
			margin-top: 20px;
			margin-bottom: -40px;
			font-variant: small-caps;
		}
	</style>
	<h1 align="center">Créer un nouveau client</h1>

	{{ include('client/_form.html.twig') }}
	<a href="{{ path('client_index') }}">
		<button type="button" class="btn btn-dark" id="btnRetour">Retour</button>
	</a>

{% endblock %}
