{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
	<style>
		body {
			background-color: Silver;
		}
		h1 {
			font-variant: small-caps;
			color: SteelBlue;
			text-align: center;
		}
		h5 {

			color: DarkBlue;
			text-align: center;
		}
		.container {
			padding: 80px;

		}
		.Form {
			align: center;
			text-align: center;

		}
	</style>
	<div style="width: 600px;margin-top:8em ; padding-top:5px; padding-bottom:5px;border: 3px solid #A0A0A0;background: Gainsboro; margin-left:24em;">

		<div class="container">
			<h1>Mot de passe oublié</h1>
			<h5>
				Veuillez entrer votre adresse mail</h5>
			<div class="Form">
				{{form(emailForm)}}
				</div>
			</div>
		</div>
	{% endblock %}
