{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe
{% endblock %}

{% block body %}
	<style>
		body {
			background-color: Silver;
		}
		h1 {
			font-variant: small-caps;
			color: SteelBlue;
			text-align: center;
		}
		p {

			color: DarkBlue;
			text-align: center;
			font-size: 22px;
		}

		.container {
			padding: 80px;

		}
		.Form {
			align: center;
			text-align: center;

		}
		button {
			margin-left: 14em;
		}
		label,
		input {
			margin-left: 6em;
		}
	</style>
	<div style="width: 700px;margin-top:8em ; padding-top:5px; padding-bottom:5px;border: 3px solid #A0A0A0;background: Gainsboro; margin-left:24em;">

		<h1>Réinitialisation du mot de passe</h1>
		<p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
		<form method="post">
			<label for="inputPassword">Nouveau mot de passe :
			</label>
			<input size="30" type="password" name="password" id="inputPassword" placeholder="Tapez votre nouveau mot de passe" required>
			<br>
			<input type="hidden" name="token" value="{{ token }}"><br>
			<button class="btn btn-primary" type="submit" id="valider">
				Valider le mot de passe
			</button>
		</form>
	{% endblock %}
